blis==0.7.11
catalogue==2.0.10
certifi==2024.7.4
charset-normalizer==3.3.2
click==7.1.2
cymem==2.0.8
de_core_news_sm
en_core_web_sm
future==1.0.0
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
murmurhash==1.0.10
mypy-extensions==1.0.0
numpy==1.16.1
packaging==24.1
pathlib_abc==0.1.1
pathy==0.11.0
preshed==3.0.9
pydantic==1.8.2
requests==2.32.3
sentencepiece==0.2.0
six==1.16.0
smart-open==6.4.0
spacy==3.0.9
spacy-legacy==3.0.12
srsly==2.4.8
thinc==8.0.17
torch==1.5.1
torchtext==0.6.0
tqdm==4.66.4
typer==0.3.2
typing-inspect==0.8.0
typing_extensions==4.5.0
urllib3==2.2.2
wasabi==0.10.1
